@{
    ViewData["Title"] = "About";
}
@model IEnumerable<Fashion_Avenue.Models.About>
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/assets/images/heading-pages-06.jpg);">
    <h2 class="l-text2 t-center">
        About
    </h2>
</section>

<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        @foreach(var item in Model)
        {
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/@item.AImage" alt="IMG-ABOUT">
                </div>
            </div>
            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    @item.ATitle
                </h3>
                <p class="p-b-28">
             @item.ADesc
                </p>
            </div>
        </div>
        }
    </div>
</section>